{% extends 'base.html' %}
{% load static %}

{% block externalCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/uploadButton.css' %}">
{% endblock %}

{% block container %}
    {% for doc in product %}
{#        #####################################################################  GEMİCİ 3 ############################################}
            <script>
                var startprice;
                {% if doc.category == "akademik" %}
                    startprice = "{{ doc.size1.price.price1000_2000|safe }}";
                {% else %}
                    startprice = "{{ doc.size1.price.price50_100|safe }}";
                {% endif %}
            </script>

            <div class="container bgwhite p-t-10 p-b-80">
                <form action="{% url 'product' doc.category %}"  method="post" id="gemici3form" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="flex-w flex-sb">

                    <div class="w-size15 p-t-1 respon5">
                        <div class="wrap-slick3 flex-t flex-w">
                        {% if doc.category == "gemici3" or doc.category == "gemici1" or doc.category == "masaustu" %}
                           <div class="slick3">
                               <div class="item-slick3" id="frontthumb">
                                   <div class="wrap-pic-w">
                                       <img id="topDesign" style="height:20vh;" src="{%  static 'images/topDesign.png' %}" style="display:block;">
                                   </div>
                               </div>
                           </div>
                        {% endif %}
                            <div class="slick3">
                                <div class="item-slick3" id="frontthumb">
                                    <div class="wrap-pic-w">
                                        <img id="imagefront" style="height:59vh;" name="imagefront" src="{% if doc.category == "gemici3" or doc.category == "gemici1" or doc.category == "masaustu" or doc.category == "ajanda" or doc.category == "akademik" %}{{ doc.size1.color1.frontimage.url }}{% endif %}" alt="IMG-PRODUCT">
                                    </div>
                                </div>
                            {% if doc.category == "gemici3" %}
                                <div class="item-slick3" id="backthumb">
                                    <div class="wrap-pic-w">
                                        <img id="imageback" style="height:59vh;" name="imageback" src="{{ doc.size1.color2.frontimage.url }}" alt="IMG-PRODUCT">
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                         {% if doc.category == "gemici3" or doc.category == "gemici1" or doc.category == "masaustu" %}
                            <div class="slick3">
                                <div class="item-slick3" id="frontthumb">
                                    <div class="wrap-pic-w">
                                        <img id="bottomDesign" style="height:6vh;" src="{%  static 'images/bottomDesign.png' %}" style="display:block;">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="w-size20 p-t-8 respon5">
                        <h4 class="product-detail-name m-text16 p-b-13">
                            {{ doc.name }}
                        </h4>

                        <p class="s-text8 p-t-10">
                            {{ doc.exp }}
                        </p>

                        <!--  -->
                        <div class="p-t-3 p-b-60">
                            {% if doc.category == "gemici3" or doc.category == "masaustu" or doc.category == "ajanda" %}
                            <div class="d-flex flex-c-m justify-content-start p-b-10 bo4">
                                <div class="s-text15 w-size2 t-center">
                                    Ölçü
                                </div>
                                <div class="rs2-select2 rs3-select2 of-hidden w-size5" style="width: 50vw;">
{#                                    {% if doc.category == "gemici3" or doc.category == "ajanda" or doc.category == "masaustu" %}#}
{#                                        <img src="{{ doc.size1.color1.frontimage.url }}" style="width: 90px;height:130px;margin-left:30px; ">#}
{#                                        <img src="{{ doc.size2.color1.frontimage.url }}" style="width: 100px;height:140px;margin-left:30px;">#}
{#                                        {% if doc.category == "gemici3" %}#}
{#                                        <img src="{{ doc.size3.color1.frontimage.url }}" style="width: 110px;height:150px;margin-left:30px;">#}
{#                                        {% endif %}#}
{#                                     {% endif %}#}
                                    <select name="sizeSelection" id="sizeSelection"  class="selection-2" onchange="javascript:sec(this)">
                                        <option value="{{ doc.size1|safe }}">{{ doc.size1 }}</option>
                                        <option value="{{ doc.size2|safe }}">{{ doc.size2 }}</option>
                                        {% if doc.category == "gemici3" %}
                                        <option value="{{ doc.size3|safe }}">{{ doc.size3 }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                        {% if doc.category == "gemici3" %}
                            <div class="d-flex flex-c-m justify-content-start p-b-10 bo4" style="margin-top: 15px;">
                                <div class="s-text15 w-size2 t-center">
                                    Renk :
                                </div>
                                <div class="rs2-select2 rs3-select2 of-hidden w-size16" style="width: 50vw;">
                                    <select name="colorSelection" class="selection-2" id="colorSelection" onchange="javascript:renk(this)">
                                        <option value="{{ doc.size1.color1.frontimage.url  }}">Mavi - Beyaz</option>
                                        <option value="{{ doc.size1.color2.frontimage.url }}">Mavi - Sarı</option>
                                    </select>
                                    <input type="hidden" id="color" name="color" value="{{ doc.size1.color1|safe }}">
                                </div>
                            </div>
                        {% endif %}
                            <script type="text/javascript">
                                var color;
                                function renk(colorUrl) {
                                        color = colorUrl.value;
                                        size = document.getElementById("sizeSelection").value;
                                        if(color === "{{ doc.size1.color1.frontimage.url|safe }}"){
                                            if(size === "{{ doc.size1|safe }}"){
                                                document.getElementById("color").value="{{doc.size1.color1|safe}}";
                                            }
                                            if(size === "{{ doc.size2|safe }}"){
                                                document.getElementById("color").value="{{doc.size2.color1|safe}}";
                                            }
                                            if(size === "{{ doc.size3|safe }}"){
                                                document.getElementById("color").value="{{doc.size3.color1|safe}}";
                                            }
                                        }
                                        if(color === "{{ doc.size1.color2.frontimage.url|safe }}"){
                                           if(size === "{{ doc.size1|safe }}"){
                                                document.getElementById("color").value="{{doc.size1.color2|safe}}";
                                            }
                                           if(size === "{{ doc.size2|safe }}"){
                                                document.getElementById("color").value="{{doc.size2.color2|safe}}";
                                            }
                                           if(size === "{{ doc.size3|safe }}"){
                                                document.getElementById("color").value="{{doc.size3.color2|safe}}";
                                            }
                                        }
                                        $("#imagefront").attr("src",colorUrl.value);
                                }
                            </script>
                               <script type="text/javascript">
                                var size,color;
                                var price50_100 = {{ doc.size1.price.price50_100|safe }};
                                var price100_200 = {{ doc.size1.price.price100_200|safe }};
                                var price200_500 = {{ doc.size1.price.price200_500|safe }};
                                var price500_1000 = {{ doc.size1.price.price500_1000|safe }};
                                var price1000_2000 = {{ doc.size1.price.price1000_2000|safe }};
                                var price2000_5000 = {{ doc.size1.price.price2000_5000|safe }};

                                function middleware(valueee){
                                    change(valueee);
                                }

                                function sec(selected){
                                    size = selected.value;
                                {% if doc.category == "gemici3" %}
                                    colorurl = document.getElementById("colorSelection").value;
                                {% endif %}
                                    if(selected.value === "{{ doc.size1|safe }}"){

                                    {% if doc.category == "gemici3" %}
                                        if(colorurl === "{{ doc.size1.color1.frontimage.url|safe }}"){
                                            document.getElementById("color").value="{{doc.size1.color1|safe}}";
                                        }
                                        if(colorurl === "{{ doc.size1.color2.frontimage.url|safe }}"){
                                            document.getElementById("color").value="{{doc.size1.color2|safe}}";
                                        }
                                    {% endif %}
                                        price50_100 = "{{ doc.size1.price.price50_100|safe }}";
                                        price100_200 = "{{ doc.size1.price.price100_200|safe }}";
                                        price200_500 = "{{ doc.size1.price.price200_500|safe }}";
                                        price500_1000 = "{{ doc.size1.price.price500_1000|safe }}";
                                        price1000_2000 = "{{ doc.size1.price.price1000_2000|safe }}";
                                        price2000_5000 = "{{ doc.size1.price.price2000_5000|safe }}";
                                        var vall = document.getElementById("num-product").value;
                                        middleware(vall);
                                    }

                                    if(selected.value === "{{ doc.size2|safe }}"){
                                 {% if doc.category == "gemici3" %}
                                        if(colorurl === "{{ doc.size1.color1.frontimage.url|safe }}"){
                                            document.getElementById("color").value="{{doc.size2.color1|safe}}";
                                        }
                                        if(colorurl === "{{ doc.size1.color2.frontimage.url|safe }}"){
                                            document.getElementById("color").value="{{doc.size2.color2|safe}}";
                                        }
                                     {% endif %}
                                        price50_100 = "{{ doc.size2.price.price50_100|safe }}";
                                        price100_200 = "{{ doc.size2.price.price100_200|safe }}";
                                        price200_500 = "{{ doc.size2.price.price200_500|safe }}";
                                        price500_1000 = "{{ doc.size2.price.price500_1000|safe }}";
                                        price1000_2000 = "{{ doc.size2.price.price1000_2000|safe }}";
                                        price2000_5000 = "{{ doc.size2.price.price2000_5000|safe }}";
                                        vall = document.getElementById("num-product").value;
                                        middleware(vall);
                                    }
                                {% if doc.category == "gemici3" %}
                                    if(selected.value === "{{ doc.size3|safe }}"){
                                        if(colorurl === "{{ doc.size1.color1.frontimage.url|safe }}"){
                                            document.getElementById("color").value="{{doc.size3.color1|safe}}";
                                        }
                                        if(colorurl === "{{ doc.size1.color2.frontimage.url|safe }}"){
                                            document.getElementById("color").value="{{doc.size3.color2|safe}}";
                                        }
                                        price50_100 = "{{ doc.size3.price.price50_100|safe }}";
                                        price100_200 = "{{ doc.size3.price.price100_200|safe }}";
                                        price200_500 = "{{ doc.size3.price.price200_500|safe }}";
                                        price500_1000 = "{{ doc.size3.price.price500_1000|safe }}";
                                        price1000_2000 = "{{ doc.size3.price.price1000_2000|safe }}";
                                        price2000_5000 = "{{ doc.size3.price.price2000_5000|safe }}";
                                        vall = document.getElementById("num-product").value;
                                        middleware(vall);
                                    }
                                {% endif %}


                                }
                            </script>
                            {% endif %}
                            <div class="d-flex flex-c-m justify-content-start p-b-10">
                                    <div class="s-text15 w-size2 t-center">
                                        Adet giriniz :
                                    </div>
                                    <div class="bo5 of-hidden m-r-22 m-t-10 m-b-10" style="width:50vw;">
                                        <input type="number" id="num-product" name="num-product" min="{% if doc.category == "akademik" %}2000{% else %}0{% endif %}" max="5050" value="{% if doc.category == "akademik" %}2000{% else %}50{% endif %}" step="50" onchange="javascript:changing(this)">
                                    </div>
                            </div>
                            <div class="d-flex flex-c-m justify-content-start p-b-10">
                                    <div class="s-text15 w-size2 t-center">
                                        Adet fiyat :
                                    </div>
                                    <div class="bo5 of-hidden m-r-22 m-t-10 m-b-10" style="width:50vw;">
                                        <input type="text"  id="bum-product" name="bum-product" value="{% if doc.category == "akademik" %} {{ doc.size1.price.price1000_2000|safe }} {% else %}{{ doc.size1.price.price50_100|safe }}{% endif %}" readonly>
                                    </div>
                            </div>
                            <div class="d-flex flex-c-m justify-content-start p-b-10">
                                    <div class="s-text15 w-size2 t-center">
                                        Toplam Fiyat
                                    </div>
                                    <div class="bo5 of-hidden m-r-22 m-t-10 m-b-10" style="width:50vw;display: flex;">
                                        <input type="text" id="sumofPrice" readonly>{% if doc.category == "akademik" %}{% else %}<div id="designStart" class="flex-l s-text11">(100₺ tasarım ücreti dahil)</div>{% endif %}
                                        <script type="text/javascript">

                                            function changing(value){
                                                {% if doc.category == "gemici1" %}
                                                var price50_100 = {{ doc.size1.price.price50_100|safe }};
                                                var price100_200 = {{ doc.size1.price.price100_200|safe }};
                                                var price200_500 = {{ doc.size1.price.price200_500|safe }};
                                                var price500_1000 = {{ doc.size1.price.price500_1000|safe }};
                                                var price1000_2000 = {{ doc.size1.price.price1000_2000|safe }};
                                                var price2000_5000 = {{ doc.size1.price.price2000_5000|safe }};
                                                {% endif %}

                                                if(parseInt(value.value) > 49 && parseInt(value.value) < 101){
                                                    document.getElementById("bum-product").value=price50_100;
                                                    document.getElementById("sumofPrice").value=(Math.round(price50_100*value.value));
                                                }
                                                if(parseInt(value.value) > 101 && parseInt(value.value) < 201){
                                                    document.getElementById("bum-product").value=price100_200;
                                                    document.getElementById("sumofPrice").value=(Math.round(price100_200*value.value));
                                                }
                                                if(parseInt(value.value) > 201 && parseInt(value.value) < 501){
                                                    document.getElementById("bum-product").value=price200_500;
                                                    document.getElementById("sumofPrice").value=(Math.round(price200_500*value.value));
                                                }
                                                if(parseInt(value.value) > 501 && parseInt(value.value) < 1001){
                                                    document.getElementById("bum-product").value=price500_1000;
                                                    document.getElementById("sumofPrice").value=(Math.round(price500_1000*value.value));
                                                }
                                                if(parseInt(value.value) > 1001 && parseInt(value.value) < 2001){
                                                    document.getElementById("bum-product").value=price1000_2000;
                                                    document.getElementById("sumofPrice").value=(Math.round(price1000_2000*value.value));
                                                }
                                                if(parseInt(value.value) > 2001 && parseInt(value.value) < 5001){
                                                    document.getElementById("bum-product").value=price2000_5000;
                                                    document.getElementById("sumofPrice").value=(Math.round(price2000_5000*value.value));
                                                }
                                                if(parseInt(value.value) > 5001 ) {
                                                    document.getElementById("bum-product").value = "Lütfen özel fiyat isteyiniz";
                                                    document.getElementById("sumofPrice").value = "Bizimle iletişime geçiniz";
                                                }
                                                if( document.getElementById('designService').checked === true ){
                                                    document.getElementById("sumofPrice").value=(parseFloat(document.getElementById("sumofPrice").value)+100.0);
                                                }

                                            }
                                        </script>
                                    </div>
                            </div>

                        {% if doc.category == "gemici3" or doc.category == "gemici1" or doc.category == "masaustu" %}
                            <div class="flex-t flex-c-m p-b-10">
                                    <div class="s-text15 w-size28 t-center">
                                    Tasarım hizmeti almak istiyorum (+{{ doc.size1.price.priceDesignService }}₺) &nbsp;&nbsp;
                                    </div>
                                    <div class="flex-w  of-hidden m-r-22 m-t-10 m-b-10">
                                        <div class="s-text15 w-size28 t-center">
                                            <input type="checkbox" name="designService" id="designService"  checked="checked" onchange="check(this)">
                                        </div>
                                        <input type="hidden" name="designValue" id="designValue" value="True">
                                    </div>

{#                                    <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">#}
{#                                        <div class="s-text15 w-size28 t-center" id="textDesignUpload">#}
{#                                            Ya da kendi tasarımınızı yükleyin.#}
{#                                        </div>#}
{#                                    </div>#}
                            </div>
                            <div class="flex-t flex-c-m p-b-10"  id="upload">
                             <div class="s-text15 w-size28 t-center">
                                    Ya da kendi tasarımınızı yükleyin&nbsp;&nbsp;
                             </div>
                             <div class="flex-w  of-hidden m-r-22 m-t-10 m-b-10" style="padding-right: 0px;">
                                 <div class="s-text12 w-size28 t-center" style="padding-right:0px;">
                                     <div class="upload-btn-wrapper">
                                         <button class="butonUpload" id="ustUpload" >Üst tasarım yükle</button>
                                         <input type="file" id="pic1" name="pic1" accept="image/*"/>
                                     </div>
                                     <div class="upload-btn-wrapper" >
                                         <button class="butonUpload">Alt tasarım yükle</button>
                                         <input type="file" id="pic2" name="pic2" accept="image/*" />
                                     </div>
                                 </div>
                             </div>
                            </div>
                            <div class="flex-t flex-c-m flex-c- p-b-10">
                                <div class="of-hidden m-r-22 m-t-10 m-b-10" style="width:50vw;display: flex;">
                                    <div class="s-text15 w-size2 t-center flex-c-m">
                                        Fiyat listesi :
                                    </div>
                                    <table class="bo1 table" id="priceList">
                                      <thead class="thead-light">
                                        <tr>
                                          <th>Adet</th>
                                          <td class="s-text20">50-100</td>
                                          <td scope="col" >100-200</td>
                                          <td scope="col">200-500 </td>
                                          <td scope="col">500-1000</td>
                                          <td scope="col">1000-2000</td>
                                          <td scope="col">2000-5000</td>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row" class="s-text15">Fiyat</th>
                                          <td id="price50_100" >{{ doc.size1.price.price50_100 }}</td>
                                          <td id="price100_200">{{ doc.size1.price.price100_200 }}</td>
                                          <td id="price200_500">{{ doc.size1.price.price200_500 }}</td>
                                          <td id="price500_1000">{{ doc.size1.price.price500_1000 }}</td>
                                          <td id="price1000_2000">{{ doc.size1.price.price1000_2000 }}</td>
                                          <td id="price2000_5000">{{ doc.size1.price.price2000_5000 }}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        </div>

                        <script type="text/javascript">
                            $('#designService').prop('checked', true);
                            function check(value) {
                                if($('#designService').is(":checked")){
                                    $('#designValue').val('True');
                                    $("#upload").css("visibility", "hidden");
                                    var newprice = parseInt($('#sumofPrice').val())+100;
                                    $('#topDesign').attr('src', "{% static 'images/topDesign.png' %}");
                                    $('#bottomDesign').attr('src', "{% static 'images/bottomDesign.png' %}");
                                    $('#pic1').val("");
                                    $('#pic2').val("");
                                    $('#sumofPrice').val(newprice.toString());
                                }
                                if($('#designService').is(":checked") == false){
                                    $('#designValue').val('False');
                                    $("#upload").css("visibility", "visible");
                                    $("#designStart").css("visibility", "hidden");
                                    var newprice = parseInt($('#sumofPrice').val())-100;
                                    $('#sumofPrice').val(newprice.toString());
                                }
                            }
                        </script>

                        <!--  -->
                        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content" id="contactDiv">
                            <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                                İletişim Bilgileri
                                <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                                <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                            </h5>

                            <div class="dropdown-content dis-none p-t-15 p-b-23">
                                <p class="s-text8">
                                İletişim bilgileriniz doldurunuz.
                                </p>
                                <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-9">
                                    <input type="text" class="s-text15 w-size28"  id="fullname" name="fullname" style="width: 100%;" placeholder="Ad Soyad" required>
                                </div>
                                <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-9">
                                    <input type="tel"  class="s-text15 w-size28" id="phone" name="phone" style="width: 100%;" placeholder="Telefon numarası" required>
                                </div>
                                <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-9">
                                    <input type="email"  class="s-text15 w-size28" id="email" name="email" style="width: 100%;" placeholder="E-mail" required>
                                </div>
                                <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-9">
                                    <input type="text"  class="s-text15 w-size28" id="comName" name="comName" style="width: 100%;" placeholder="Şirket ismi" >
                                </div>
                                <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-9">
                                    <input type="text"  class="s-text15 w-size28" id="address" name="address" style="width: 100%;height: 120px;" placeholder="Adres" required>
                                </div>
                                <div class="flex-m flex-w p-b-10">
                                    <button class="btn btn-danger" id="continueShopping" style="height: 40px;" >Siparişi tamamla</button>
                                </div>
                            </div>
                        </div>

                        <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
                            <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                                Ödeme Bilgileri
                                <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                                <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                            </h5>

                            <div class="dropdown-content dis-none p-t-15 p-b-23">
                                <p class="s-text8">
                                    Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat
                                </p>
                            </div>
                        </div>

                        <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
                            <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                                Kargo ve iade bilgileri
                                <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                                <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                            </h5>

                            <div class="dropdown-content dis-none p-t-15 p-b-23">
                                <p class="s-text8">
                                    Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        <script>
            {% if doc.category == "akademik" %}
                document.getElementById("sumofPrice").value=(startprice*parseFloat(document.getElementById("num-product").value));
            {% else %}
                document.getElementById("sumofPrice").value=(startprice*parseFloat(document.getElementById("num-product").value))+100.0;
            {% endif %}
        </script>

    {% endfor %}

{% endblock %}

{% block dropdownList %}
     <div id="dropDownSelect2"></div>
{% endblock %}
{% block externalJS %}

     <script type="text/javascript">
        function change(val) {
             if(parseInt(val) > 49 && parseInt(val) < 101){
                 document.getElementById("bum-product").value=price50_100;
                 document.getElementById("sumofPrice").value=(price50_100*val);
             }
             if(parseInt(val) > 101 && parseInt(val) < 201){
                 document.getElementById("bum-product").value=price100_200;
                 document.getElementById("sumofPrice").value=(price100_200*val);
             }
             if(parseInt(val) > 201 && parseInt(val) < 501){
                 document.getElementById("bum-product").value=price200_500;
                 document.getElementById("sumofPrice").value=(price200_500*val);
             }
             if(parseInt(val) > 501 && parseInt(val) < 1001){
                 document.getElementById("bum-product").value=price500_1000;
                 document.getElementById("sumofPrice").value=(price500_1000*val);
             }
             if(parseInt(val) > 1001 && parseInt(val) < 2001){
                 document.getElementById("bum-product").value=price1000_2000;
                 document.getElementById("sumofPrice").value=(price1000_2000*val);
             }
             if(parseInt(val) > 2001 && parseInt(val) < 5001){
                 document.getElementById("bum-product").value=price2000_5000;
                 document.getElementById("sumofPrice").value=(price2000_5000*val);
             }
             document.getElementById("price50_100").innerHTML = price50_100;
             document.getElementById("price100_200").innerHTML = price100_200;
             document.getElementById("price200_500").innerHTML = price200_500;
             document.getElementById("price500_1000").innerHTML = price500_1000;
             document.getElementById("price1000_2000").innerHTML = price1000_2000;
             document.getElementById("price2000_5000").innerHTML = price2000_5000;
        }
     </script>

    <script type="text/javascript">

        function designUploaded(){
             $('#designValue').val('False');
             $("#upload").css("visibility", "visible");
             $("#designStart").css("visibility", "hidden");
             var newprice = parseInt($('#sumofPrice').val())-100;
             $('#sumofPrice').val(newprice.toString());
             $('#designService').prop('checked', false);
        }

         $("#pic1").change(function(event) {
             RecurFadeIn();
             readURL(this);
             designUploaded();

         });
         $("#pic1").on('click',function(event){
             RecurFadeIn();
         });
         function readURL(input) {
             if (input.files && input.files[0]) {
                 var reader = new FileReader();
                 var filename = $("#pic1").val();
                 reader.onload = function(e) {
                     $('#topDesign').attr('src', e.target.result);
                     $('#topDesign').fadeIn(500);
                 };
                 reader.readAsDataURL(input.files[0]);
             }
         }
         function RecurFadeIn(){
             console.log('ran');
         }
         $("#pic2").change(function(event) {
             readURL2(this);
             designUploaded();
         });
         function readURL2(input) {
             if (input.files && input.files[0]) {
                 var reader = new FileReader();
                 var filename = $("#pic1").val();
                 reader.onload = function(e) {
                     $('#bottomDesign').attr('src', e.target.result);
                     $('#bottomDesign').fadeIn(500);
                 };
                 reader.readAsDataURL(input.files[0]);
             }
         }

         {% if orderOkMessage == "True" %}
            swal("Başarılı!","Siparişiniz alındı en kısa zamanda sizinle iletişime geçeceğiz.", "success");
         {% endif %}

         {% if orderOkMessage == "False" %}
            swal("Başarısız!","Lütfen istenilen alanları eksiksiz doldurun.", "error");
         {% endif %}

    </script>
    <script type="text/javascript" src="{% static 'js/modal.min.js' %}"></script>

{% endblock %}

